<!--users/show.html.erb-->
<div id="tweet_boxes" class="wrapper show_user_page">
  <div class="row user_profile">
    <div class="col-xs-3 col-sm-2 col-md-2 profile_pic">
      <%= render :partial => '/tweets/thumbnail', :locals => {:user => @user} %>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 contents">
      <div class="row">
        <div class="profile_name col-sm-4 col-md-4">@<%= @user.name  %></div>
        <div class="last_login col-sm-8 col-md-8">最終ログイン日：<%= @user.last_sign_in_at %></div>
        <div class="col-md-12 top-buffer">プロフィール</div>
        <div class="profile_content col-md-12 top-buffer"><%= @user.profile %>
        </div>
      </div>
    </div>
  </div>
  <div class="lg_top_buffer" style="margin-top: 50px">
    <%= render 'tweets/tweets'%>
  </div>
</div>