<div class="tweets">
  <%= page_entries_info @tweets %>
  <% if @tweets.present? %>
    <% @tweets.each do |tweet|%>
      <div class="row each_tweet">
        <div class="img col-md-1">
          <!-- サムネイルの設定確認 -->
          <% if tweet.user.image? %>
            <%= link_to user_path(tweet.user_id) , { :class => "link" } do %>
              <%= image_tag tweet.user.image.url %>
            <% end %>
          <% else %>
            NO IMAGE
          <% end %>
        </div>
        <div class="col-md-11 information">
          <div class="tweet_name"><%= link_to "@#{tweet.user.name}", user_path(tweet.user_id), { :class => "link" } %></div>
          <%= link_to edit_tweet_path(tweet.id), { :class => "link" }  do%>
            <div class="tweet_created">(<%= tweet.created_at %>)</div>
            <div class="tweet_content"><%= tweet.content %></div><br />
          <% end %>
        </div>
      </div>
    <% end %>
    <%= paginate @tweets %>
  <% else %>
    ツイートがありません。
  <% end %>
</div>